[submodule "DingoEngine/vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/KingoBoiii/glfw.git
[submodule "DingoEngine/vendor/nvrhi"]
	path = vendor/nvrhi
	url = https://github.com/KingoBoiii/NVRHI.git
[submodule "DingoEngine/vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/KingoBoiii/spdlog.git
[submodule "DingoEngine/vendor/glm"]
	path = vendor/glm
	url = https://github.com/KingoBoiii/glm.git
[submodule "DingoEngine/vendor/imgui"]
	path = DingoEngine/vendor/imgui
	url = https://github.com/KingoBoiii/imgui.git
	branch = docking
